.header {
    height: 64px;
    max-height: 64px;
    background-color: $color-grey-dark;

    .tertia__wrapper {
        height: 40px;
        max-height: 40px;
        padding-top: 8px;
        box-sizing: border-box;
    }

    &__logo {
        width: auto;
        height: 40px;
        max-height: 40px;
        color: #fff;
        font-size: 42px;
        line-height: 1.2;
    }
}
